<simple-notifications [options]="notificationOptions"></simple-notifications>
<div class="">
  <div class="panel panel-default">
    <div class="panel panel-heading">Add/Edit Client</div>
    <div class="panel panel-body">
      <form class="form" #form="ngForm" (ngSubmit)="save()">
        <div class="">
          <!-- name -->
          <div class="form-group">
            <label>
            Company name
            </label>
            <input 
              name="client-name" 
              class="form-control"
              [(ngModel)]="tempClient.companyName" 
              placeholder="Name" 
              required
            >
          </div>
          <!-- address -->
          <div class="form-group">
            <label>
            Address
            </label>
            <input 
              name="client-address" 
              class="form-control"
              [(ngModel)]="tempClient.address" 
              placeholder="Address" 
              required
            >
          </div>
          <!-- phone number -->
          <div class="form-group">
            <label>
            Phone number
            </label>
            <input 
              name="client-phone" 
              class="form-control"
              [(ngModel)]="tempClient.phone" 
              placeholder="Phone number" 
              required
            >
          </div>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="form.invalid">
          {{editMode ? 'Save':'Add'}}
        </button>
        <button type="button" class="btn btn-link" [class.hidden]="!editMode" (click)="resetForm()">
          Cancel
        </button>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel panel-heading">Clients</div>
    <div class="panel panel-body">
      <div class="client-list">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of (clients$ | async | filterDeleted)">
              <td>{{ c.companyName }}</td>
              <td>{{ c.address }}</td>
              <td>{{ c.phone }}</td>
              <td>
                <button type="button" class="btn btn-link" (click)="editClient(c)">
                  Edit
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-link" (click)="deleteClient(c)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
