<simple-notifications [options]="notificationOptions"></simple-notifications>
<div>
  <form class="form" method="POST" [formGroup]="form" (ngSubmit)="save(form.value)">
		<!-- property -->
		<fieldset>
			<legend>Create new alert</legend>
			<label for="alert-name" class="">Name</label>
			<div class="form-group">
				<div class="">
					<input type="text" class="form-control" 
						formControlName="name"
						placeholder="Alert name">
				</div>
			</div>
		</fieldset>
		<fieldset>
			<label class="">Condition</label>
			<div formGroupName="condition">
				<app-expression-form 
					[formBuilder]="formBuilder"
					[parentFormGroup]="form.get('condition')"
					[properties]="properties"
                    (childChanged)="updateChild($event)"
					[depth]="0">
				</app-expression-form>
			</div>
		</fieldset>
		<hr>
		<button type="submit" role="button" class="btn btn-default" [disabled]="form.invalid">
			Create
		</button>
	</form>
</div>