
<div class="">
        
    <div class="panel panel-default">
      <div class="panel panel-heading">Machines</div>
      <div class="panel panel-body">
        <div>
            <div class="machine-tile col-md-6 col-xs-12 col-lg-3" *ngFor="let machineKey of machineGrid">
                <a routerLink="/machine/{{machineKey}}" routerLinkActive="active">
                    <app-machine-status [machineKey]="machineKey"></app-machine-status>
                </a>
            </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel panel-heading">Recent messages</div>
      <div class="panel panel-body">
        <div class="message-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Machine</th>
                        <th>Associated number</th>
                        <th>Client</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let msg of (messages$
                                            | async
                                            | filterDeleted
                                            | join: 'machines': 'sender'
                                            | async
                                            | join: 'clients': 'machine-clientId')
                                            | async">
                        <td>{{ msg.date | date:'medium'}}</td>
                        <td>{{ msg['machine-label'] }}</td>
                        <td>{{ msg.sender }}</td>
                        <td>{{ msg['client-companyName'] }}</td>
                        <td>{{ msg.message }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>

</div>
