<div [formGroup]="predicateFormGroup">
	<div class="form-inline">
		<!-- property -->
		<div class="form-group">
			<span class="custom-label">If</span>
			<select formControlName="property" class="form-control">
				<option value="" disabled selected>property</option>
				<option *ngFor="let p of properties" [value]="p">
					{{p}}
				</option>
			</select>
		</div>
		<!-- relation -->
		<div class="form-group">
			<span class="custom-label">is</span>
			<select formControlName="relation" class="form-control">
				<option value="" disabled selected>relation</option>
				<option *ngFor="let r of relations; let i = index" [value]="i">
					{{r.text}}
				</option>
			</select>
		</div>
		<!-- parameters -->
		<div class="form-group">
			<input type="number" class="form-control" formControlName="param" placeholder="x">
		</div>
	</div>
</div>