<div class="container-fluid">
  <nav>
    <ul class="nav nav-tabs">
      <li role="presentation" *ngFor="let nav of navtabs" [routerLinkActive]="['active']">
        <a routerLink={{nav.path}} routerLinkActive="active">{{nav.text}}</a>
      </li>
    </ul>
  </nav>
  <div class="well well-sm">
	  <router-outlet></router-outlet>
  </div>
</div>
