<div [formGroup]="parentFormGroup" class="expression">

  <!-- If expression -->
  <div *ngIf="!isPredicate(parentFormGroup)">
    <div class="well well-lg container-fluid block {{parentFormGroup.get('operation').value}}-block">
      <!-- header -->
      <div class="form-inline row">
        <!-- delete whole block -->
        <div class="pull-right">
          <button type="button" class="btn btn-link">
            <span class="glyphicon glyphicon-remove" 
              (click)="deleteSelf()">
            </span>
          </button>
        </div>
      </div>

      <!-- Subexpressions/Predicates -->
      <div class="row">
   
        <!-- left -->
        <div class="row">
          <div class="form-group exp-offset" formGroupName="left">
            <app-expression-form 
                      [formBuilder]="formBuilder"
                  [parentFormGroup]="parentFormGroup.get('left')"
                       [properties]="properties"
                            [depth]="depth + 1"
                     (childChanged)="updateChild($event, 'left')">
            </app-expression-form>
          </div>
        </div>
       
        <!-- AND/OR label -->
        <div class="">
          <label class="operation">{{parentFormGroup.get('operation').value}}</label>
        </div>
       
        <!-- right -->
        <div class="row">
          <div class="form-group exp-offset" formGroupName="right">
            <app-expression-form 
                      [formBuilder]="formBuilder"
                  [parentFormGroup]="parentFormGroup.get('right')"
                       [properties]="properties"
                            [depth]="depth + 1"
                     (childChanged)="updateChild($event, 'right')">
            </app-expression-form>
          </div>
        </div>
    
      </div>

    </div>

  </div>

  <!-- If predicate -->
  <div *ngIf="isPredicate(parentFormGroup)">
    <div class="form-inline">
      <div class="">
        <app-predicate-form 
          [predicateFormGroup]="parentFormGroup"
          [properties]="properties"
          (deleted)="deleteSelf()">
        </app-predicate-form>
      </div>

    </div>
  </div>

  <div class="">
    <button type="button" role="button" class="btn btn-xs btn-link and-button" (click)="extendSelf('AND')">
      + And
    </button>
    <button type="button" role="button" class="btn btn-xs btn-link or-button" (click)="extendSelf('OR')">
      + Or
    </button>
  </div>

</div>
