
.form-control-inline
{
	width: auto;
}

.glyphicon-remove
{
	color: red;
}

.operation
{
	padding-bottom: 15px;
}

.block
{
}

.AND-block
{
	/*background-color: #ccc;*/
	border-left: 5px solid #333;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

.OR-block
{
	/*background-color: #ddd;*/
	border-left: 5px solid #aaa;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

.exp-offset
{
	margin-left: 30px;
}
