.machine-tile 
{
	background-color: #CEFFEB;
	margin: 5px;
	padding: 5px 15px 15px 15px;

	-webkit-box-shadow: 0 0 22px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 22px -5px rgba(0,0,0,0.75);
	box-shadow: 0 0 22px -5px rgba(0,0,0,0.75);
}

.machine-tile:hover
{
	background-color: #E5FFF5;
}

.machine-variable
{
	text-align: right;
}

.machine-value
{
	text-align: left;
}

td
{
	padding-left: 10px;
	padding-right: 10px;
}