<div class="machine-tile">
	<h3 class="machine-label">{{machine.label}}</h3>
	<div *ngIf="status" class="machine-info">
		<table>
			<tbody>
				<tr *ngFor="let statusVar of status">
					<td class="machine-variable">{{statusVar.key}}</td>
					<td class="machine-value">{{statusVar.val}}</td>
				</tr>
			</tbody>
		</table>
		<small class="status-date">last updated: {{latestMsgDate | date:'medium'}}</small>
	</div>
	<div *ngIf="!status">
		<p>No updates yet</p>
	</div>
</div>