<simple-notifications [options]="notificationOptions"></simple-notifications>
<div class="">
  <div class="panel panel-default">
    <div class="panel panel-heading">Add/Edit Machine</div>
    <div class="panel panel-body">
      <form class="form" method="POST" #form="ngForm" (ngSubmit)="save()">
        <div class="">
          <!-- label -->
          <div class="form-group">
            <label>Label</label>
            <input
              type = "text"
              name="machine-label" 
              class="form-control"
              [(ngModel)]="tempMachine.label" 
              placeholder="A label or name to identify the machine" 
              required
            >
          </div>
          <!-- client -->
          <div class="form-group">
            <label>Client</label>
            <select [(ngModel)]="selectedClientId" name="machine-client" class="form-control form-control-inline">
              <option value="" disabled selected>Select a client...</option>
              <option *ngFor="let c of (clients$ | async)" [value]="c.$key">
                {{c.companyName}}
              </option>
            </select>
          </div>
          <!-- number -->
          <div class="form-group">
            <label>Associated phone number</label>
            <input 
              type = "number"
              name="machine-number" 
              class="form-control"
              [(ngModel)]="tempMachine.associatedNumber" 
              placeholder="Phone number used by the machine" 
              required
            >
          </div>
          <!-- properties -->
          <div class="form-group">
            <label>
            Properties (as comma separated values)
            </label>
            <div>
              <input type="text" name="properties" class="form-control" 
                    placeholder="Pressure, Temperature, On Load Hours etc."
                    [(ngModel)]="tempProperties" >
            </div>
          </div>
          <!-- lastServiced -->
          <div class="form-group">
            <label>
            Last serviced at
            </label>
            <div>
              <input type="date" name="lastServicedAt" class="form-control form-control-inline" [(ngModel)]="tempLastServicedAt">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="form.invalid">
          {{editMode ? 'Save':'Add'}}
        </button>
        <button type="button" class="btn btn-link" [class.hidden]="!editMode" (click)="resetForm()">
          Cancel
        </button>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel panel-heading">Machines</div>
    <div class="panel panel-body">
      <div class="machine-list">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Label</th>
            <th>Associated phone number</th>
            <th>Client</th>
            <th>Last serviced at</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of ( machines$ | async | filterDeleted | join: 'clients': 'clientId' | async)">
              <td>{{ m.label }}</td>
              <td>{{ m.associatedNumber }}</td>
              <td>{{ m['client-companyName'] }}</td>
              <td>{{ m.lastServicedAt | date:'longDate' }}</td>
              <td>
                <button type="button" class="btn btn-link" routerLink="/machines/edit/{{m.associatedNumber}}">
                  Edit
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-link" (click)="deleteMachine(m)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>