<div>
	
	<div class="button-bar">
		<button type="button" class="btn btn-default" (click)="goBack()">Back</button>
	</div>

  <!-- machine details -->
	<div class="panel panel-default">
    <div class="panel panel-heading">Details</div>
    <div class="panel panel-body">
      <div class="pull-right">
        <a routerLink="/machines/edit/{{(machine$ | async)?.$key}}">
          <span class="glyphicon glyphicon-edit"> </span>
          Edit
        </a>
      </div>
      <div class="">
        <!-- label -->
        <div class="form-group row">
          <label class="col-md-4 text-right">Label</label>
          <div class="col-md-8">
            <span>{{ (machine$ | async)?.label }}</span>
          </div>
        </div>
        <!-- client -->
        <div class="form-group row">
          <label class="col-md-4 text-right">Client</label>
          <div class="col-md-8">
            <span *ngFor="let client of ([(machine$ | async)] | join: 'clients':'clientId' | async)">
              {{ client['client-companyName'] }}
            </span>
          </div>
        </div>
        <!-- number -->
        <div class="form-group row">
          <label class="col-md-4 text-right">Associated phone number</label>
          <div class="col-md-8">
            <span>{{ (machine$ | async)?.associatedNumber }}</span>
          </div>
        </div>
        <!-- properties -->
        <div class="form-group row">
          <label class="col-md-4 text-right">
          Properties
          </label>
          <div class="col-md-8">
            <span>{{ ((machine$ | async)?.properties.join(', ')) }}</span>
          </div>
        </div>
        <!-- lastServiced -->
        <div class="form-group row">
          <label class="col-md-4 text-right">
          Last serviced at
          </label>
          <div class="col-md-8">
            <span>{{ (machine$ | async)?.lastServicedAt | date:'longDate' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
	
  <!-- alert form -->
	<div class="panel panel-default">
    <div class="panel panel-heading">Alerts</div>
    <div class="panel panel-body">
    	<app-alerts [machine]="machine$"></app-alerts>
    </div>
  </div>
	
  <!-- message history -->
	<div class="panel panel-default">
    <div class="panel panel-heading">Message History</div>
    <div class="panel panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let msg of (messages$ | async | filter: 'sender': (machine$ | async)?.$key)">
            <td>{{ msg.date | date: 'yMdjm'}}</td>
            <td>{{ (msg.message).trim().split('\r\n').join(', ') }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>