
<app-alert-form 
	[properties]="(machine | async)?.properties"
	[machineKey]="(machine | async)?.$key">
</app-alert-form>

<hr>

<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Condition</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let alert of (alerts | async | join: 'alerts':'$value') | async">
				<td>{{ alert['alert-name'] }}</td>
				<td>{{ condToStr(alert['alert-condition']) }}</td>
				<td>
					<button type="button" class="btn-link" (click)="delete(alert.$key, alert.$value)">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>